@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.otf") format("opentype");
}
@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.otf") format("opentype");
}
html{
  font-family: "GothamBook", Arial, sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border: none;
  outline: none;
  width: 600px;
}
button{
  border: none;
  border-radius: 11px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  outline: none;
  background-color: #F2F6FF;
}
a {
    text-decoration: none;
    color: black;
}
.link {
    color: black;
    text-decoration: none;

}