.main {
   display: grid;
   grid-template-columns: 30%-10px 30%-10px 40%-10px;
   grid-template-rows: 10% 10% 50% 30%;
   gap: 0px 20px;
   grid-template-areas:
    "source source source"
    "productname productname productname"
    "slider buyzone characteristic"
    "slider desc desc";
}
.source {
    grid-area: source;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.productname {
    grid-area: productname;
    text-transform: uppercase;
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.desc {
    grid-area: desc;
}





