.basement{
    color: #8F9BB3;
}
.basement__linksblock{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.basement__linkicons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.basement__icons{
    margin-top: 12px;
    margin-bottom: 10px;
}
.basement__text{
    text-align: center;
}
.basement__logoblock{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.basement__logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "GothamBold", Arial, sans-serif;

}

.basement a:hover{
    color: #8F9BB3;
    text-decoration: underline;
}