header{

}
.header__first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
}
.header__second{
    display: flex;
    height: 40px;
    border-top: 2px solid #E2E4F0;
    border-bottom: 2px solid #E2E4F0;
    border-left: none;
    border-right: none;
}
.links__block1,.links__block2{
    display: flex;
    gap: 15px;
    align-items: center;
}
.links__block1 {
    margin-left: 20px;
}

.links__block2{
    margin-left: auto;
    margin-right: 20px;
}
.header__search{
    border: 2px solid #E2E4F0;
    border-radius: 7px;
    height: 40px;
    display: flex;
    align-items: center;

}


.header__verticalline {
    border-left: 1px solid #E2E4F0;
    height: 50px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__button{
    background-color: #1551E5;
width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__logoicon, .header__icondin, .header__icondown{
    color: #1551E5;
}
.header__buttonicon{
    margin-top: 43%;
}
.header__iconbuy, .header__icondown{
    margin-top: 25px;
}
.search__icons{
    display: flex;
    padding-right: 10px;
    gap: 5px;
    font-size: 20px;

}
.header__buttonicon, .header__iconlike, .header__icondin, .header__iconbuy, .header__icondown{
    font-size: 20px;
}

::placeholder {
    color: black;
    padding-left: 10px;
}
.header__buy{
    height: 40px;
    display: flex;
    align-items: center;
    color: #1551E5;
    gap: 5px;
}
.header__avatar{
    width: 32px;
    height: 32px;
}